@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --alt-black: #000000;
    --alt-white: #FFFCF6;
    --alt-beige: #D3C9BD;
    --bone-white: #FFFDF4;
    --alt-arena: #A59D94;
}

body {
    background-color: var(--alt-black);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* HEADER */
header div .textHeader {
    font-weight: 600;
    font-size: 14px;
    line-height: 18.2px;
    color: var(--alt-white);
}

/* NavBar 1 */
nav div {
    display: flex;
}

nav div .textLogo {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    font-size: 35.33px;
    line-height: 20.19px;
    color: var(--bone-white);
}

nav div .textLogo:hover, .textLogo:link, 
        .textLogo:visited, .textLogo:focus,
        .textLogo:active {
    color: var(--bone-white);
}

nav div .textLogo span {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 27.2566px;
    line-height: 20px;
}

.socialGap {
    gap: 30px;
    position: absolute;
    padding-right: 60px;
}

.socialSize {
    width: 24px;
    height: 24px;
}

.socialSizeGm {
    width: 24px;
    height: 18px;
}


/* NavBar 2 */
.divLinks {
    height: 76px;
}

.divLinks a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: var(--bone-white);
}

.divLinks .nav-link:hover, .nav-link:link, 
.nav-link:visited {
    color: var(--bone-white);
}

.divLinks .nav-link:active, .nav-link:focus {
    border-bottom: 1px solid var(--bone-white);
}

/* CARRUSEL */
/* ---------- */

/* SECTION */
article div h1 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 130%;
    color: var(--bone-white);
}

section img {
    width: 609px;
    height: 423px;
}

section h3 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white)
}

section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--bone-white);
}

section a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: var(--bone-white);
    text-decoration: none;
}

section  a:hover, 
a:link,  a:visited, 
a:focus, a:active {
    color: var(--bone-white);
}

/* ARTICLE TEXT INSTAGRAM */
article h2 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 130%;
    color: var(--alt-arena);
}

/* FOOTER */
.borderBottom {
    border-bottom: 1px solid var(--alt-arena);
}

.logoFooter {
    width: 134px;
    height: 34px;
}

.linksFooter ul {
    list-style: none;
    gap: 30px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
}

.textEnd p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: var(--alt-arena);
}

/* PRODUCTOS > SECTION */
.sectionProductos div p {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white);
    position: relative;
    left: 13%;
}

.sectionProductos img {
    width: 62.5vw;
    height: 54vh;
}

.sectionProductos .btnVerTodo {
    background: #A59D94;
    border-radius: 6px;
    padding: 10px 10px;
    width: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 13%;
}

.sectionProductos .btnVerTodo a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: var(--alt-black);
    text-align: center;
}

.textLogo img {
    width: 229px;
    height: 58px;
}

/* NUESTRO PROCESO */
.sectionProceso h1 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white);
}

.sectionProceso p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 150%;
    color: var(--bone-white);
}

.paddingTituloCatalogo {
    padding-left: 50px;
}

.tituloCatalogo h6 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white);
}

.imagenCatalogo img {
    width: 333px;
    height: 334.1px;
}

/* SOBRE NOSOTROS */
.sectionNosotros img {
    width: 28.5vw;
    height: 73.4vh;
    border-radius: 20px;
}

.sectionNosotros h4 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white);
}

.sectionNosotros p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    color: var(--bone-white);
}

.articleNosotros div h4 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white);
}

.articleNosotros div p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
    color: var(--bone-white);
}

/* SOBRE NOSOTROS> CARRUSEL ARTICLE */
.carruselTarjetas img {
    width: 400px;
    height: 200px;
}

/* SOBRE NOSOTROS> ARTICLE TEXT */
.articleText h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
    color: var(--bone-white);
}

.articleText p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: var(--bone-white);
    padding-bottom: 30px;
}

/* SOBRE NOSOTROS> CARRUSEL FINAL */
.carruselFinal {
    width: 1240px;
}

.carruselFinal img {
    width: 1240px;
    height: 506px;
}

/* SE PARTE */
.sectionSeParte h3 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white);
}

.sectionSeParte img {
    width: 450px;
    height: 280px;
}

.articleSeParte p, span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--bone-white);
    text-align: justify;
}

.sectionSeParteProyecto h2 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--bone-white);
}

.sectionSeParteProyecto img {
    width: 280px;
    height: 180px;
}

.sectionSeParteProyecto p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--bone-white);
}

